
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styling/styling.css">
    <title>reset password token</title>
</head>
<body>
    <div class="container">
        <h2>password reset</h2>
        <form method="post" action="/account/resetpasswordtoken">
            <input type="text" id="email" name="email" placeholder="Enter email">
            <button class="submit" type="submit">
                <span class="button-shadow"></span>
                <span class="button-edge"></span>
                <span class="button-front">submit</span>
                </button>
        </form>
    </div>
</body>
</html>

