<!DOCTYPE html>
<html>
<head>
    <title>Request Password Change Token</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 50%;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
        }
        input[type="text"], input[type="submit"] {
            display: block;
            margin: 10px 0;
            padding: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Enter email</h2>
        <form method="post" action="/account/resetpasswordtoken">
            <input type="text" id="email" name="email" placeholder="Enter email">
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>


