<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styling/styling.css">
    <title>parm</title>
</head>
<body>
    <div class="container">
    <h1>parm</h1>
    <button class="login-btn" role="button" onclick="location.href='/account'">
        <span class="button-shadow"></span>
        <span class="button-edge"></span>
        <span class="button-front">login</span>
    </button>
    </div>
</body>
</html>
