
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styling/styling.css">
    <title>login</title>
</head>
<body>
    <div class="container">
        <h1>login page</h1>
        <form method="post" action="/account/token">
            <input type="text" id="username" name="username" placeholder="username">
            <input type="password" id="password" name="password" placeholder="password">
            <button class="submit" type="submit">
                <span class="button-shadow"></span>
                <span class="button-edge"></span>
                <span class="button-front">submit</span>
                </button>
        </form>
        <button class="button" onclick="location.href='/account/resetpasswordpage'" type="button">
            <span class="button-shadow"></span>
            <span class="button-edge"></span>
            <span class="button-front">reset password</span>
        </button>
        <p><b>incorrect username or password</b></p>
    </div>
</body>
</html>