<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styling/styling.css">
    <title>upload</title>
</head>
<body>
    <div class="container">
        <h2>upload data</h2>
        <form action="./data" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <select name="source" id="source" required>
                <option value="" disabled selected>Select source</option>
                <option value="codes">Shopify Codes</option>
                <option value="podscribe">Podscribe</option>
                <option value="survey">Survey</option>
            </select>
            <button type="submit">Upload</button>
        </form>
        <p>Upload Successful</p>
    </div>
</body>
</html>
